<style>
  /* Customize Simple.css footer padding top/bottom and left/right */
</style>

<div class="footer">
  <div class="bg">
    <div class="container">
      Made with
      <a href="https://www.gnu.org/savannah-checkouts/gnu/emacs/emacs.html">Emacs</a>
      <!-- <img class="github" type="image/png" src="../img/Emacs.png" /> -->
      +
      <a href="https://orgmode.org/">Org Mode</a>
      <!-- <img class="github" type="image/png" src="../img/OrgMode.png" /> -->
      +
      <a href="https://simplecss.org/">Simple.css</a>
    </div>
  </div>
</div>
