<div class="header">
  <a href="/">
    <img class="logo"
         type="image/gif"
         src="../img/mummy7.gif" alt="Logo" />
  </a>

  HEADER TEXT and LINKS to sitemap.html, index.html, etc

  <a href="https://github.com/esquellington">
    <img class="github"
         type="image/png"
         src="../img/github-mark-white.png" alt="GitHub" />
  </a>

  <a href="https://mastodon.gamedev.place/@ocivitf">
    <img class="mastodon"
         type="image/png"
         src="../img/mastodon_logo.png" alt="Mastodon" />
  </a>
</div>
